<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">    
</head>
<body>
    <header>
    	<div class="wrapper">
        <ul class="nav-area">
        <li><a href="/">Home</a></li>
        <li><a href="projects">Projects</a></li>
        <li><a href="login">Login</a></li>
        <div class="dropdown">
          <button onclick="myFunction()" class="dropbtn">Menu</button>
          <div id="myDropdown" class="dropdown-content">
            <input type="text" placeholder="Search" id="myInput" onkeyup="filterFunction()">
            <a href="about">About</a>
            <a href="#blog">Blog</a>
            <a href="#settings">Settings</a>
            <a href="#support">Support</a>
            <a href="#team">Team</a>
          </div>
        </div>
      </div>
<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}
</script>
        </ul>
    </div>
<div class="welcome-text">
    <h1>Help Page</h1>
</header>

</body>
</html>